<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <ion-tab title="TextPad" icon-off="ion-ios-compose-outline" icon-on="ion-ios-compose" href="#/tab/textpad">
    <ion-nav-view name="tab-textpad"></ion-nav-view>
  </ion-tab>
 
  <ion-tab title="Setting" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/setting">
    <ion-nav-view name="tab-setting"></ion-nav-view>
  </ion-tab>
  
  <ion-tab title="Status" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>
 
  <ion-tab title="Chats" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>

</ion-tabs>
